nav.custom-bc{
    padding-left: 3em;
    padding-top:3px;

}
nav.custom-bc>ol{
    background-color:white;
}
table td, 
table th {
    white-space: nowrap;
    width: 1%;
}
.menu_btn {
    padding: 5px 8px;
    background-color:cadetblue;
    color: #000;
    border-radius: 20px;
    margin: 0px 20px;
    font-size:2em;
}
.profile_preview{
    border: 1px solid grey;width:120px;height:120px
}
.table tr.first td
{
    border-top:none;
}
.table tr.last td
{
    border-bottom:none;
}
.confirm-bg-color{
background-color:#b1dfd9;
}
a.nav-font{
font-size:2em;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
